html {
  overflow-y: scroll;
}

body {
  font-family: Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: white;
}

/* react-tabs.css https://github.com/reactjs/react-tabs/blob/master/style/react-tabs.css */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: #0a0a0a; /* 追加  */
}

.react-tabs__tab--selected {
  background: red; /* オーバーライド  */
  border-color: #aaa; /* オーバーライド  */
  color: black; /* オーバーライド  */

  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

/* 下固定 */
.react-tabs__tab-list＿under {
  position: fixed;
  bottom: 0;
  max-width: 1000px;
  height: 33px;
  background-color: white;
  margin: 0 0 0px;
  padding: 0;
  z-index: 2;
}
